.ingredients-block {
  background-color: #f4b46c;
  margin: 30px auto 0;
  display: table;
  max-width: 200px;
  width: 100%;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
}

.ingredients-block p {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.ingr-btns {
  margin: 0 0 20px;
  display: flex;
  justify-content: space-between;
}

.ingr-btn {
  border: 0;
  background-color: #c17116;
  color: #fff;
  padding: 5px;
  cursor: pointer;
  display: table;
  width: 95px;
}
